.menu-icon {
  vertical-align: middle;
}

.search-icon {
  position: absolute;
  margin-top: 4px;
  cursor: pointer;
}

.search-text:focus {
  outline: none;
}

.dropdown:hover .dropdownContent {
  visibility: visible;
  opacity: 1;
}
