.menu-icon {
  vertical-align: middle;
}

.search-icon {
  position: absolute;
  margin-top: 4px;
  cursor: pointer;
}

.search-text:focus {
  outline: none;
}

.dropdownHeader:hover .dropdownHeaderContent {
  visibility: visible;
  opacity: 1;
}
